.dashboard {
    /* margin: 1vw; */
    /* overflow-y: hidden; */
}

.featurePlants {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    width: 100%;
    row-gap: 1vh;
}

body::-webkit-scrollbar{
    display: none;
  }